.resident__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.resident__head {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
}

.resident__img {
    grid-column: 1 / span 3;
    max-height: 15vw;
    border-radius: 0 0 1.2em 1.2em;

}

.resident__form {
    grid-row: 2s;
    grid-column: 2;
    text-align: center;
    padding: 1.2em;
}

.resident__input {
    border-radius: 0.6em 0 0 0.6em;
}

.resident__button {
    border-radius: 0 0.6em 0.6em 0;
    background-color: greenyellow;
}

